# IntelliJ IDEA
.idea/

# VS Code
.vscode/

# Maven / Java build
target/
out/

# Tomcat temporary files
tomcat/
work/
logs/

# OS / System
*.log
*.tmp
*.bak
*.DS_Store
convert_pdf_to_word/target/convert_pdf_to_word/WEB-INF/classes/model/bo/UserBO.class
