.main{
    display: flex;
    flex-direction: column;

}
.file-label {
    margin-bottom: 10px;
    font-size: 16px;
}

.pdf-preview {
    border: 1px solid #ddd;
    border-radius: 6px;
    margin-bottom: 20px;
    overflow: hidden;
}
.pdf-preview canvas {
    max-width: 250px;
    height: auto;
}

.convert-form {
    margin-top: 15px;
}

.error-text {
    color: red;
    font-size: 16px;
    margin-top: 20px;
}
.action{
    display: flex;
    justify-content: center;
    align-items: center;
}
.btn-back {
    display: inline-block;
    width:170px;
    padding: 12px 0;
    background: linear-gradient(135deg, #c0322d, #ff6b5b);
    color: #fff;
    text-align: center;
    font-weight: bold;
    border-radius: 8px;
    border: none;
    cursor: pointer;
    transition: 0.25s ease;
}

.btn-back:hover {
    background: linear-gradient(135deg, #c0322d, #ce3120);
    transform: translateY(-3px);
    box-shadow: 0px 4px 12px rgba(0,0,0,0.15);
}

.btn-back:active {
    transform: translateY(-1px);
}
.convert-form .convert-btn {
    background: #185abd ;       /* màu Word */
    border-radius: 8px;
    color: white;
    padding: 12px 22px;
    font-weight: bold;
    letter-spacing: 0.3px;
    border: none;
    cursor: pointer;
    transition: 0.2s;
}

.convert-form  .convert-btn:hover {
    background: #0f4ba8;
    transform: translateY(-1px);
}
    
.convert-form  .convert-btn:active {
    transform: scale(0.97);
}
